
.intro {
  font-style: italic;
  font: times;
}

.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

.forward {
  width: 50%;
  font-style: italic;
}

.body {
  font: times;
  width: 85%;
}

.important {
  font-weight: bold;
}

img.intro{
  width: 200px;
  height: 200px;
}

.date {
  font-style: italic;
  font-weight: 300; 
}
